<%- include('header') %>

    <h1 class="title">WebWorking</h1>

    <div class="container-fluid">
        <form action="/new-contact" method="POST">
            <label class="small-text" for="name">Contact Name</label>
            <input class="small-text" type="text" name="name" id="name">
            <label class="small-text" for="company">Company</label>
            <input class="small-text" type="text" name="company" id="company">
            <label class="small-text" for="job">Job Title</label>
            <input class="small-text" type="text" name="job" id="job">
            <label class="small-text" for="email">Email</label>
            <input class="small-text" type="text" name="email" id="email">
            <label class="small-text" for="phone">Phone Number</label>
            <input class="small-text" type="text" name="phone" id="phone">
            <label class="small-text" for="linkedin">LinkedIn Link</label>
            <input class="small-text" type="text" name="linkedin" id="linkedin">
            <label class="small-text" for="whereMet">Where did you meet?</label>
            <input class="small-text" type="text" name="whereMet" id="whereMet">
            <label class="small-text" for="whenMet">When did you meet?</label>
            <input type="date" name="whenMet" id="whenMet">
            <label for="description">Description and Info</label>
            <textarea name="description" id="description" rows="10"></textarea>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>


<%- include('footer') %>